* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-header-text {
    background-color: #fafdff;
    color: black;
    text-align: center;
    padding: 100px 0 50px;

    /* margin-bottom: 100px; */
}

.about-header-text h1 {
    margin-bottom: 30px;
}

.about-page-instractor {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.about-page-instractor li {
    font-size: 1.1em;
    color: rgb(105, 102, 102);
}

.about-page-instractor li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    transition: .3s;
}

.about-page-instractor li a:hover {
    color: #61B576;
}

#how-it-works {
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* justify-content: space-between; */
    place-items: center;
    gap: 50px;
}

.how-it-works-text {
    width: 100%;
}

.how-it-works-text h4 {
    color: #1e993d;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.how-it-works-text h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.how-it-works-text p {
    font-size: 1.2em;
    color: gray;
}

.how-it-works-image {
    width: 100%;
    position: relative;
}

.how-it-works-image img {
    width: 100%;
    border-radius: 10px;
}

.how-it-works-video-thumb {
    position: absolute;
    left: 40%;
    top: 36%;
    background-color: #51b56d;
    color: white;
    text-align: center;
    padding: 30px;
    border: 8px solid #9cce9c;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .5s;
}

.how-it-works-video-thumb:hover {
    transform: scale(1.1);
}

.apply-loan-container {
    padding: 100px;
    background-color: #fbfbfb;
}

.apply-loan {
    text-align: center;
}

.apply-loan h4 {
    color: #1e993d;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.apply-loan h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 40px;
}

.apply-loan-rules {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.apply-loan-rules-item {
    text-align: center;
    padding: 20px;
}

.apply-loan-rules-item span {
    color: white;
    background-color: #1e993d;
    font-weight: 900;
    padding: 20px;
    border: 6px solid #9cce9c;
    border-radius: 50%;
}

.apply-loan-rules-item h1 {
    margin: 40px 0 10px;
}

.apply-loan-rules-item p {
    font-weight: 600;
    font-size: 1em;
    color: rgb(192, 192, 192);
}


/* Question have */

.question-have {
    padding: 100px;
}

.question-have-title {
    text-align: center;
}

.question-have-title h4 {
    color: #1e993d;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.question-have-title h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 20px;
}

.question-have-title p {
    font-size: 1.1em;
    color: gray;
    margin-bottom: 30px;
}

.get-wallet {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.get-wallet-item {
    border-radius: 10px;
    background-color: white;
    padding: 40px 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.1);
}

.get-wallet-item i {
    padding: 23px;
    background-color: #46b461;
    color: white;
    border-radius: 5px;
    font-size: 2.1rem;
    margin-bottom: 20px;
}

.get-wallet-item h1 {
    margin-bottom: 20px;
    font-weight: 700;
}

.get-wallet-item p {
    color: gray;
    font-size: 1.1em;
}

.additional {
    background-color: #fbfbfb;
    padding: 150px;
}

.additional-title {
    text-align: center;
}

.additional-title h3 {
    color: #1e993d;
    font-weight: 800;
    margin-bottom: 20px;
}

.additional-title h1 {
    font-size: 2.5rem;
    font-weight: 800;
}


.information-question {
    margin-top: 50px;
    background-color: white;
    padding: 30px 20px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.information-question-item {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.information-question-item details{
    margin-top: 20px;
}

.information-question-item summary {
    font-size: 1.2rem;
    font-weight: 700;
}

.information-question-item p{
    margin: 20px 0;
    font-size: 1.1em;
    color: rgb(165, 162, 162);
}