* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
}

nav {
    background-color: rgb(247, 251, 255);
    height: 50px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#checking {
    display: none;
}

.toggle {
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    display: none;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    margin: 0 10px;
    padding-bottom: 5px;
    font-weight: 700;
    color: black;
    transition: all .4s ease-in;
}

nav ul li a:hover {
    color: #3f9457;
}

nav ul li {
    position: relative;
}

nav ul ul {
    display: block;
    background-color: rgb(247, 251, 255);
    min-width: 200px;
    max-width: 250px;
    border-radius: 3px;
    position: absolute;
    top: 20px;
    left: -9999px;
    /* transition: .3s ease; */
}

nav ul ul li {
    width: 100%;
    padding: 10px;
}

nav ul li:hover ul {
    left: 0;
}

#user-account a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 900;
    background-color: #e0f2e5;
    color: #3f9457;
    transition: background-color .5s ease-in-out;
}

#user-account a:nth-child(2) {
    background-color: #3f9457;
    color: white;
}

#user-account a:hover {
    background-color: #3f9457;
    color: white;
}

#user-account a:nth-child(2):hover {
    background-color: #246837;
}



/* Header container */

#header-container {
    height: 70vh;
    background-color: rgb(247, 251, 255);
    padding: 0 50px;
    display: flex;
    align-items: center;
    gap: 50px;

    margin-bottom: 100px;
}

#header-text h1 {
    font-size: 3.5rem;
    margin-bottom: 30px;
}

#header-text p {
    color: gray;
    margin-bottom: 40px;
}

#header-text button {
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #56b872;
    color: white;
    font-weight: 800;
}


/* Our services container */

#our-services-container {
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 130px;
}

.service-announc h3 {
    color: #50bd6f;
    margin-bottom: 20px;
}

.service-announc h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.service-announc p {
    color: gray;
}

.service-item {
    padding: 50px 30px 40px;
    border: 1px solid rgb(247, 241, 241);
    cursor: pointer;
    transition: all .4s;
}

.service-item:hover {
    border: 1px solid rgb(247, 241, 241);
    box-shadow: 0 10px 28px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.0);
}

.service-item:hover h2 {
    color: #3f9457;
}

.service-item span {
    background-color: #e9e4fb;
    color: #917aec;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 5px;
}

.service-item a {
    text-decoration: none;
    color: black;
}

.service-item h2 {
    margin: 40px 0 20px;
}

.service-item p {
    color: gray;
    font-size: .9rem;
    font-weight: 600;
}


/* About ourselves */

#about-selves {
    /* height: 70vh; */
    background-color: rgb(247, 251, 255);

    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 150px 40px;
    margin-bottom: 100px;
}

.about-selves-text {
    width: 100%;
}

.about-selves-text h4 {
    color: #31aa53;
    margin-bottom: 20px;
}

.about-selves-text h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.about-selves-text p {
    color: gray;
    font-size: 1.2rem;
    line-height: 30px;
    margin-bottom: 30px;
}

.about-selves-text button {
    border: none;
    border-radius: 5px;
    background-color: #31aa53;
    color: white;
    font-weight: 900;
    padding: 10px 20px;
}


#difference {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.difference-text {
    width: 100%;
}

.difference-text h4 {
    color: #31aa53;
    margin-bottom: 20px;
}

.difference-text h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.difference-text p {
    color: gray;
    font-size: 1.2rem;
    line-height: 30px;
    margin-bottom: 30px;
}

.difference-part {
    width: 100%;
}

.difference-item {
    /* background-color: #e6e3f3; */
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    transition: all .3s;
}

.difference-item:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1), 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.difference-item i {
    background-color: #e6e3f3;
    color: #8e70f8;
    padding: 20px;
    font-size: 3rem;
    border-radius: 5px;
}

.difference-item-text h1 {
    margin-bottom: 20px;
}

.difference-item-text p {
    color: gray;
    line-height: 30px;
    font-size: 1.1rem;
}

/* Difference of us */

#difference-of-us {
    padding: 30px 100px;
}

.difference-of-us-item {
    background-color: #fbfbfb;
    padding: 100px 100px 300px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

.difference-of-us-item h3 {
    color: #31aa53;
}

.difference-of-us-item h1 {
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: 50px;
}

.loan-link a:nth-child(1) {
    text-decoration: none;
    margin: 0 5px;
    padding: 10px 25px;
    background-color: #31aa53;
    color: white;
    font-weight: 800;
    border-radius: 5px;
}

.loan-link a:nth-child(2) {
    text-decoration: none;
    margin: 0 5px;
    padding: 10px 25px;
    background-color: transparent;
    color: rgb(75, 73, 73);
    font-weight: 800;
    border-radius: 5px;
}

.loan-link a:nth-child(3) {
    text-decoration: none;
    margin: 0 5px;
    padding: 10px 25px;
    background-color: transparent;
    color: rgb(75, 73, 73);
    font-weight: 800;
    border-radius: 5px;
}

.loan-link a:hover {
    background-color: #c4f3d1;
    color: #175228;
}

.loan-link a:focus {
    background-color: #50bd6f;
    color: white;
}

.difference-of-us-bottom-item {
    margin: -250px 50px 0;
    padding: 50px 30px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.1);
}

.difference-of-us-bottom-item img {
    width: 100%;
}

.difference-bottom-item-text {
    text-align: left;
    width: 100%;
}

.difference-bottom-item-text p {
    margin-top: 50px;
    color: gray;
    font-weight: 600;
    font-size: 1.1rem;
}

/* Trusted people  */

#trusted-parent {
    padding: 100px 50px;
    background-color: #fbfbfb;
    margin-bottom: 100px;
}

.trusted-title {
    text-align: center;
}

.trusted-title h3 {
    color: #31aa53;
    margin-bottom: 20px;
}

.trusted-title h1 {
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.trusted-title p {
    color: gray;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 50px;
}

#trusted-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.trusted-item {
    background-color: white;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1);
}

.trusted-image-name {
    display: flex;
    align-items: center;
    gap: 20px;
    /* line-height: 1.5em; */
    margin-bottom: 20px;
}

.trusted-image-name img {
    border-radius: 5px;
}

.trusted-name h3 {
    margin-bottom: 10px;
}


.trusted-item p {
    font-size: .9rem;
    font-weight: 560;
    color: gray;
}

.trusted-item p a {
    text-decoration: none;
    color: #95daa6;
    border-bottom: 1px dotted #61b576;
}


/* Frequently asked question */
#qustion-title {
    text-align: center;
    margin-bottom: 50px;
}

#qustion-title h4 {
    color: #0c9132;
    font-weight: 900;
    margin-bottom: 20px;
}

#qustion-title h1 {
    font-size: 3rem;
    font-weight: 800;
}


#question-container {
    margin: 0 150px 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.question-item-parent {
    height: auto;
    padding: 30px 0 30px 40px;
    background-color: white;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.question-single-item summary {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.question-single-item details {
    width: 100%;
    /* text-align: center; */
}

.question-single-item details p {
    margin: 20px 0;
    font-size: 1rem;
    font-weight: 600;
    color: gray;
}

.still-question-container {
    /* height: 50vh; */
    padding: 10px 30px 30px;
    background-color: white;
    /* box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1); */
}

.still-question-container p {
    color: gray;
    font-size: 1.1em;
    line-height: 25px;
}

.still-item h3 {
    font-weight: 800;
    margin: 10px 0;
}

.still-item a {
    text-decoration: none;
    color: #0c9132;
    border-bottom: 1px dotted #0c9132;
}


/* Footer style here */

footer {
    background-color: #fbfbfb;
    padding: 40px;
}

#footer-some-item-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
}

.footer-some-single-item h4 {
    color: #3f9457;
    margin: 20px 0;
}


.footer-some-link a {
    text-decoration: none;
    display: block;
    line-height: 35px;
    color: rgb(94, 89, 89);
    transition: .5s;
}

.footer-some-link a:hover {
    color: #31aa53;
    text-decoration: underline;
}

.footer-form {
    background-color: #f4f4f4;
    padding: 0 30px;
}

.footer-form h4 {
    margin: 20px 0;
    /* padding:0; */
}

.footer-form-subscribe {
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #78d391;
    border-right: 0;
    border-radius: 5px;
    background-color: white;
}

.footer-form-subscribe input {
    padding: 15px;
    border: 0;
    border-radius: 5px;
}

.footer-form-subscribe input:focus {
    outline: none;
}

.footer-form-subscribe i {
    font-size: 1.3rem;
    cursor: pointer;
    background-color: #0c9132;
    color: white;
    padding: 15px;
    border-collapse: collapse;
    border-radius: 0 5px 5px 0;
}

.footer-form p {
    color: gray;
    font-size: 1rem;
    font-style: normal;
    font-weight: lighter;
}

.footer-company-connect {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-company-termsconditions a {
    text-decoration: none;
    padding: 0 10px;
    color: rgb(46, 42, 42);
    font-weight: lighter;
    transition: .5s;
}

.footer-company-termsconditions a:hover {
    color: #0c9132;
}

.footer-company-link-item a {
    color: black;
    text-decoration: none;
}

.footer-company-link-item a i {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid rgb(216, 212, 212);
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: white;
    transition: .3s;
}

.footer-company-link-item a:hover i {
    color: #6ae08b;
}

/* Mobile Responsive */
@media screen and (max-width: 600px) and (min-width: 200px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Rubik", sans-serif;
        overflow-x: hidden;
        position: relative;
    }

    nav {
        background-color: rgb(247, 251, 255);
        height: 50px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }

    #check {
        display: none;
    }

    .toggle {
        font-size: 2rem;
        font-weight: 900;
        cursor: pointer;
        display: block;
    }

    nav ul {
        padding: 50px 0;
        text-align: center;
        display: block;
        list-style-type: none;

        width: 100%;
        height: 100vh;
        background-color: #fbfbfb;
        position: absolute;
        top: 50px;
        left: -99999px;
        /* transition: .3s; */
    }

    #checking:checked~ul {
        left: 0;
    }

    nav ul li a {
        line-height: 30px;
        text-decoration: none;
        margin: 0 10px;
        padding-bottom: 5px;
        font-weight: 700;
        color: black;
        transition: all .3s ease-in;
    }

    nav ul li a:hover {
        color: #3f9457;
    }

    nav ul li {
        position: relative;
    }

    nav ul ul {
        align-items: center;
        display: block;
        background-color: rgb(168, 180, 192);
        min-width: 200px;
        max-width: 250px;
        height: auto;
        border-radius: 3px;
        position: absolute;
        top: 30px;
        left: -9999px;
        transition: .3s ease;
    }

    nav ul ul li {
        width: 100%;
        padding: 10px;
    }

    nav ul li:hover ul {
        left: 25%;
        right: 25%;
    }

    #user-account a {
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 7px;
        font-weight: 900;
        background-color: #e0f2e5;
        color: #3f9457;
        transition: background-color .5s ease-in-out;
    }

    #user-account a:nth-child(2) {
        background-color: #3f9457;
        color: white;
    }

    #user-account a:hover {
        background-color: #3f9457;
        color: white;
    }

    #user-account a:nth-child(2):hover {
        background-color: #246837;
    }

    /* Header container */
    #header-container {
        height: auto;
        background-color: rgb(247, 251, 255);
        padding: 0 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 100px;
    }

    #header-text h1 {
        font-size: 2.5rem;
        margin: 30px 0;
    }

    #header-text p {
        color: gray;
        margin-bottom: 40px;
    }

    #header-text button {
        border: none;
        border-radius: 10px;
        padding: 15px 30px;
        background-color: #56b872;
        color: white;
        font-weight: 800;
    }

    .header-image img {
        width: 100%;
    }

    /* Our service container */
    #our-services-container {
        padding: 0 20px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        margin-bottom: 30px;
    }

    .service-announc {
        margin-bottom: 30px;
    }

    .service-announc h3 {
        color: #50bd6f;
        margin-bottom: 10px;
    }

    .service-announc h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .service-announc p {
        color: gray;
    }

    .service-item {
        width: 100%;
        padding: 50px 30px 40px;
        border: 1px solid rgb(238, 238, 238);
        cursor: pointer;
        transition: all .4s;
    }

    /* About ourselves */
    #about-selves {
        background-color: rgb(247, 251, 255);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        padding: 50px 20px;
        margin-bottom: 100px;
    }

    .about-selves-text {
        width: 100%;
    }

    .about-selves-text h4 {
        color: #31aa53;
        margin-bottom: 20px;
    }

    .about-selves-text h1 {
        font-size: 2rem;
        font-weight: 900;
        margin-bottom: 20px;
    }

    .about-selves-text p {
        color: gray;
        font-size: 1.2rem;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .about-selves-text button {
        border: none;
        border-radius: 5px;
        background-color: #31aa53;
        color: white;
        font-weight: 900;
        padding: 5px 10px;
    }

    .about-selves-image img {
        width: 100%;
    }

    #difference {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }

    .difference-text {
        width: 100%;
    }

    .difference-text h4 {
        text-align: center;
        color: #31aa53;
        margin-bottom: 10px;
    }

    .difference-text h1 {
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 20px;
    }

    .difference-text p {
        color: gray;
        font-size: 1rem;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .difference-part {
        width: 100%;
    }

    .difference-item {
        /* background-color: #e6e3f3; */
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        border-radius: 5px;
        transition: all .5s;
    }

    .difference-item:hover {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1), 0 0 5px 0 rgba(0, 0, 0, 0.1);
    }

    .difference-item:hover i {
        transition: 1s;
        color: white;
        background-color: #065c1e;
    }

    .difference-item i {
        background-color: #e6e3f3;
        color: #8e70f8;
        padding: 20px;
        font-size: 3rem;
        border-radius: 5px;
    }

    .difference-item-text h1 {
        margin-bottom: 20px;
    }

    .difference-item-text p {
        color: gray;
        line-height: 30px;
        font-size: 1.1rem;
    }

    #difference-of-us {
        padding: 20px 5px;
    }

    .difference-of-us-item {
        background-color: #fbfbfb;
        padding: 30px 2px 250px;
        border-radius: 5px;
        text-align: center;
        justify-content: center;
    }

    .difference-of-us-item h3 {
        color: #31aa53;
    }

    .difference-of-us-item h1 {
        font-size: 1.2rem;
        font-weight: 900;
        margin-bottom: 20px;
    }

    .loan-link {
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */
    }

    .loan-link a:nth-child(1) {
        text-decoration: none;
        margin: 0 5px;
        padding: 5px;
        background-color: #07b33a;
        color: white;
        font-weight: 800;
        border-radius: 5px;
    }

    .loan-link a:nth-child(2) {
        text-decoration: none;
        margin: 0 5px;
        padding: 5px 10px;
        background-color: transparent;
        color: rgb(75, 73, 73);
        font-weight: 800;
        border-radius: 5px;
    }

    .loan-link a:nth-child(3) {
        text-decoration: none;
        margin: 0 5px;
        padding: 5px 10px;
        background-color: transparent;
        color: rgb(75, 73, 73);
        font-weight: 800;
        border-radius: 5px;
    }

    .loan-link a:hover {
        background-color: #c4f3d1;
        color: #175228;
    }

    .difference-of-us-bottom-item {
        margin: -180px 0 0;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
        box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.1);
    }

    .difference-of-us-bottom-item img {
        width: 100%;
    }

    .difference-bottom-item-text {
        text-align: left;
        width: 100%;
    }

    .difference-bottom-item-text p {
        margin-top: 10px;
        color: gray;
        font-weight: 600;
        font-size: 1.1rem;
    }

    #trusted-parent {
        padding: 10px;
        background-color: #fbfbfb;
        margin-bottom: 100px;
    }

    .trusted-title h1 {
        font-weight: 800;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .trusted-title p {
        color: gray;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 20px;
    }

    #trusted-item-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .trusted-item {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1);
    }

    .trusted-image-name {
        text-align: center;
        display: flex;

        flex-direction: column;
        gap: 10px;
        /* line-height: 1.5em; */
        margin-bottom: 20px;
    }

    .trusted-image-name img {
        border-radius: 3px;
    }

    .trusted-name h3 {
        margin-bottom: 5px;
    }

    .trusted-item p {
        font-size: .9rem;
        font-weight: 300;
        color: gray;
    }


    #qustion-title {
        text-align: center;
        margin-bottom: 20px;
    }

    #qustion-title h4 {
        color: #0c9132;
        font-weight: 900;
        font-size: 1rem;
        margin-bottom: 20px;
    }

    #qustion-title h1 {
        font-size: 1.5rem;
        font-weight: 800;
    }

    #question-container {
        margin: 0 10px 20px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .question-item-parent {
        height: auto;
        padding: 30px 10px 30px;
        background-color: transparent;
        box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
    }

    .question-single-item summary {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .question-single-item details {
        width: 100%;
        /* text-align: center; */
    }

    .question-single-item details p {
        margin: 10px 0 20px;
        font-size: 1rem;
        font-weight: 600;
        color: rgb(163, 159, 159);
    }

    .still-question-container {
        height: auto;
        padding: 10px 30px 30px;
        background-color: white;
        box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
    }

    .still-question-container p {
        color: gray;
        font-weight: 600;
        line-height: 2em;
    }

    .still-item h3 {
        font-weight: 800;
        margin: 10px 0;
    }

    .still-item a {
        text-decoration: none;
        color: #0c9132;
        border-bottom: 1px dotted #0c9132;
    }

    footer {
        background-color: #fbfbfb;
        padding: 0;
    }

    #footer-some-item-parent {
        /* text-align: center; */
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        margin-bottom: 50px;
    }

    .footer-some-single-item h4 {
        color: #3f9457;
        margin: 10px 0;
        text-align: center;
    }

    .footer-some-link {
        text-align: right;
    }

    .footer-some-link a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        line-height: 25px;
        color: rgb(94, 89, 89);
        transition: .5s;
    }

    .footer-form {
        background-color: #f4f4f4;
        padding: 0 30px 20px;
        margin: 0;
    }

    .footer-form h4 {
        margin: 20px 0;
        padding: 0;
        font-size: 1.5rem;
    }

    .footer-form-subscribe {
        margin: 0 0 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #78d391;
        border-right: 0;
        border-radius: 5px;
        background-color: white;
    }

    .footer-form-subscribe input {
        padding: 15px;
        border: 0;
        border-radius: 5px;
    }

    .footer-form-subscribe input:focus {
        outline: none;
    }

    .footer-form-subscribe i {
        font-size: 1.3rem;
        cursor: pointer;
        background-color: #0c9132;
        color: white;
        padding: 15px;
        border-collapse: collapse;
        border-radius: 0 5px 5px 0;
    }

    .footer-form p {
        color: gray;
        font-size: 1rem;
        font-style: normal;
        font-weight: lighter;
    }


    .footer-company-connect {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .footer-company-link-item a i {
        margin: 0 10px 30px;
        padding: 10px;
        border: 1px solid rgb(216, 212, 212);
        border-radius: 5px;
        font-size: 1.2rem;
        background-color: white;
        transition: .3s;
    }





}